:root {
    --primary-color: rgb(38, 131, 198);
    --error-color-primary: rgb(190, 35, 35);
    --error-color-secondary: rgb(249, 133, 133);
}

#application-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#newBookForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.inputContainer {
    display: flex;
    flex-flow: column-reverse;
    padding: 5px;

}

label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

input, select {
    -webkit-appearance: none;
    border-radius: 0%;
    width: 200px;
    border: none;
    border-bottom: 1px solid #bcb9b9;
    background-color: white;
}

input:invalid:not(:placeholder-shown) {
  border-bottom:1px solid var(--error-color-primary);
}

input:focus {
  border-color: var(--primary-color);
  outline: 0;
}

input:required+label:after{
    content: " *";
    color: var(--error-color-primary);
    font-size: 11px;
}

.btnContainer {
    margin-top: 15px;
}

button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.primary-btn {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
}

.secondary-btn {
    border: 2px solid var(--primary-color);
    background-color: white;
}

.body-blur {
    filter: blur(1px);
}



.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    left: 0;
    top: 0;
    z-index: 1;
}

.modal-content{
    display: flex;
    max-width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    gap: 5px;
    filter: blur(0px);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;

}

#bookContainer {
    display: flex;;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

#bookList {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    padding: 15px;
}

td, th {
    padding: 12px;
    text-align: left;
    
}

tr {
    border-bottom: 1px solid #cccccc;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
}

i {
    cursor: pointer;
}

.edit-icon:hover {
    color: var(--primary-color);
}

.delete-icon:hover{
    color:var(--error-color-primary);
}