body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#newBookForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.inputContainer {
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
}

.body-blur {
    filter: blur(1px);
}



.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    left: 0;
    top: 0;
    z-index: 1;
}

.modal-content{
    display: flex;
    max-width: 350px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    gap: 5px;
    filter: blur(0px);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;

}

#bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 15px;
    gap: 15px;
}

.card {
    background-color: white;
    height: 125px;
    border-radius: 5px;
    border-left: 6px solid lightseagreen;
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
    padding: 10px;
}