#newBookForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 75%;
    
}

.body-blur {
    filter: blur(1px);
}



.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    display: none;
    left: 0;
    top: 0;
}

.modal-content{
    display: flex;
    max-width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    gap: 5px;
    filter: blur(0px);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);

}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;

}